body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 20, 40, 0.6);
  z-index: -1;
}
body {
  font-family: 'Wolverine','Georgia', serif;
  src: url("./assets/fonts/Wolverine.ttf");
  margin: 0;
  padding: 40px;
  text-align: center;

  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
}

.container {
  width: 400px;
  margin: auto;
  padding: 25px;

  background: rgba(0, 0, 0, 0.8);
  border: 3px solid gold;
  border-radius: 10px;

  box-shadow: 0 0 20px gold;
}

input, textarea {
  display: block;
  width: 40%;
  margin: 0 auto 15px auto;
  padding: 8px;

  background-color: #111;
  color: white;
  border: 1px solid gold;
  border-radius: 5px;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 10px gold;
}

.course {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.navbar {
  background-color: black;
  z-index: 9999;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 2px solid gold;
}

.navbar a {
  color: gold;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar a:hover {
  color: white;
  text-shadow: 0 0 8px gold;

}
.navLinks {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navLinks a{ 
  color: #ffd700;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
}

.navLinks a:hover {
  text-shadow: 0 0 8px #ffd700;
}

@font-face {
  font-family: "Wolverine";
  src: url("./assets/fonts/Wolverine.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


